{% extends "base_.html" %}

{% block content %}
<body>
<div class="container m-3">
    <h1> Název: {{ kniha.nazev }} </h1>
    <h1> Podtitul: {{ kniha.podtitul}} </h1>
    <h2> Autor: {{ kniha.autor }} </h2>
    <h3> Rok vydání: {{ kniha.rok_vydani }} </h3>
    <h3> Jazyk: {{ kniha.jazyk }} </h3>
    <h3> ISBN10: {{ kniha.ISBN10 }} </h3>
    <h3> ISBN13: {{ kniha.ISBN13 }} </h3>
    <h3> Žánr: {{ kniha.zanr.nazev_zanru }} </h3>
    <h3> Majitel: {{ kniha.majitel}}</h3>
    {% if kniha.majitel == request.user or request.user.is_admin %}
    <a href="{% url 'edit' kniha.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'delete' kniha.id %}" class="btn btn-danger">Delete</a>
    {% endif %}
</div>
</body>
{% endblock %}
