{% extends "base.html" %}

{% block content %}

<div class="m-3">
        <div class="form-group has-search">
            <form method="GET" class="search">
            <input type="text" name="q" placeholder="Hledej" value="{{ request.GET.q }}">
            <button type="submit" class="btn btn-primary" name="title">Vyhledej</button>
            </form>
        </div>
    </div>

<div class="m-3">
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">Název</th>
          <th scope="col">Podtitul</th>
          <th scope="col">Autor</th>
          <th scope="col">Rok vydání</th>

        </tr>
      </thead>
      <tbody>
      {% for kniha in knihy %}
        <tr>
          <td><a href="{% url 'detail' kniha.id %}" class="text-decoration-none text-secondary">{{ kniha.nazev }}</a></td>
          <td><a href="{% url 'detail' kniha.id %}" class="text-decoration-none text-secondary">{{ kniha.podtitul }}</a></td>
          <td>{{ kniha.autor }}</td>
          <td>{{ kniha.rok_vydani }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}

