{% extends "base_.html" %}
{% block content %}

<div class="container m-3">
        <div class="form-group has-search">
            <form method="GET" class="search">
            <input type="text" name="q" placeholder="Hledej" value="{{ request.GET.q }}">
            <button type="submit" name="title">Vyhledej</button>
            </form>
        </div>
    </div>

<div class="container m-3">
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">Jméno</th>
          <th scope="col">Příjmení</th>
          <th scope="col">Uživatelské jméno</th>
          <th scope="col">Email</th>
            {% if request.user.is_admin %}
          <th scope="col">Akce</th>
            {% endif %}
        </tr>
      </thead>
      <tbody>
      {% for uzivatel in uzivatele %}
        <tr>
          <td><a href="{% url 'profil' uzivatel.id %}" class="text-decoration-none text-secondary">{{ uzivatel.jmeno }}</a></td>
          <td><a href="{% url 'profil' uzivatel.id %}" class="text-decoration-none text-secondary">{{ uzivatel.prijmeni }}</a></td>
          <td><a href="{% url 'profil' uzivatel.id %}" class="text-decoration-none text-secondary">{{ uzivatel.uzivatelske_jmeno }}</a></td>
          <td><a href="{% url 'profil' uzivatel.id %}" class="text-decoration-none text-secondary">{{ uzivatel.email }}</a></td>
            {% if request.user.is_admin %}
          <td>
              <a href="{% url 'profil' uzivatel.id %}" class="btn btn-primary">Edit</a>
              <a href="{% url 'profil' uzivatel.id %}" class="btn btn-danger">Delete</a>
          </td>
            {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}