{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}



  <!-- Actual search box -->
    <div class="main">
        <div class="form-group has-search">
            <form method="GET" class="search">
            <input type="text" name="q" placeholder="Hledej" value="{{ request.GET.q }}">
            <button type="submit" name="title">Vyhledej</button>
            </form>
        </div>
    </div>


    <div class="content">
        <ul>
          <div class="title">
              <li>Jméno</li>
              <li>Příjmení</li>
              <li>Uživatelské jméno</li>
              <li>Email</li>
          </div>

          {% for uzivatel in uzivatele %}
          <a href="{% url 'profil' uzivatel.id %}">
            <div class="data">
                <li>{{ uzivatel.jmeno }}</li>
                <li>{{ uzivatel.prijmeni }}</li>
                <li>{{ uzivatel.uzivatelske_jmeno }}</li>
                <li>{{ uzivatel.email }}</li>
                {% if request.user.is_admin %}
                <li>tlacitko</li>
                {% endif %}
            </div>
          </a>
          {% endfor %}
        </ul>

    </div>

{% endblock %}